body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
   
}

.orange-colour {
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 2%;
}
.fast-section-paragraph{
    text-align: justify;
}

.half-width, img{
    width: 100%;
}
.link-hire{
    text-decoration: none;
    background-color: lini;
}